@font-face {
  font-family: 'NanumMiRaeNaMu';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumMiRaeNaMu/NanumMiRaeNaMu.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumMiRaeNaMu/NanumMiRaeNaMu.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumMiRaeNaMu/NanumMiRaeNaMu.ttf') format('truetype');
}